apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mosquitto.name" . }}-config
data:
  mosquitto.conf: |
    persistence false
    log_dest stdout
    listener 1883
    {{- if .Values.auth.allowAnonymous }}
    allow_anonymous true
    {{- else }}
    allow_anonymous false
    password_file /mosquitto/config/passwordfile
    {{- end }}
